/*/////////////////////////////////////////////
      TESTING TOOL BOX
////////////////////////////////////////////*/

.bg-grey {
  background-color: #f6f6f6;
}
.border {
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

/*/////////////////////////////////////////////
      1. NAVBAR
////////////////////////////////////////////*/

.navbar{

  background-color: #f93939;
  margin-bottom: 0;
  border: 0;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 1px;
  b/order-radius: 0;
  f/ont-family: Montserrat, sans-serif; 
  z/-index: 9999;

}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f93939 !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.dropdown .dropdown-toggle .dropdown-header{
   color: #f93939 !important;
   background-color: #fff !important;
}
.dropdown ul li a{
  color: #f93939 !important;
  background-color: #fff !important;
}
.dropdown ul li a:hover{
  color: #fff !important;
  background-color: #f93939 !important;
}



/*/////////////////////////////////////////////
      2. HEADER
////////////////////////////////////////////*/

header{
  
  b/ackground: url(../img/test-bg.jpg) no-repeat center top;
  margin-top: 50px;
  padding-top: 100px;
  text-align: center;
  min-height: 500px;  
  background-size: 100%;
  background-attachment: relative;
  background-position: center center;
  background-size: cover;
  background-color: #f93939;
  color: #fff;
}

header h1 {
  font-size: 80px;
  color: white;
}

header h3 {
  font-size: 20px;
  color: white;
}


/*/////////////////////////////////////////////
      2. SECTION 01
////////////////////////////////////////////*/

/* Intnro Wrap */

#section-01 {
  background: grey;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
}

#section-01 h1> p {
  color: #fff;
}

#section-01 i {
  color: #fff;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

/*/////////////////////////////////////////////
      2. SECTION 01
////////////////////////////////////////////*/

/* Intnro Wrap */

#section-02 {
  background: #2c3e50;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;

}

#intsection-02 h5> p {
  color: white;
}

#section-02 i {
  color: white;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}


/*/////////////////////////////////////////////
      2. SECTION 03
////////////////////////////////////////////*/

/* Intnro Wrap */

#section-03 {
  background: grey;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
    background-attachment: relative;
  background-position: center center;
  background-size: cover;
}

#intsection-03 h5> p {
  color: white;
}

#section-03 i {
  color: white;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}


/*/////////////////////////////////////////////
      2. BLOCKQUOTE
////////////////////////////////////////////*/

b/lockquote{
  border:1px solid #eee;
  page-break-inside:avoid
}

blockquote{
  p/adding:10px 10px;
  m/argin:0 0 20px;
  font-size:17.5px;
  border-left:5px solid #f93939;
} 
.blockquote-footer{
  b/order-style: solid;
  b/order-width: 1px;
  h/eight: 100px;
  p/adding-top: 20px;
}





/*/////////////////////////////////////////////
      2. FOOTER
////////////////////////////////////////////*/

.footer-container{
  border-style: solid;
  border-width: 1px;
  height: 100px;
  padding-top: 20px;
  background-color: #000;
  m/argin-bottom: 0;
  b/order: 0;
  f/ont-size: 14px !important;
  l/ine-height: 1.42857143 !important;

  margin:0;
}

.footer-container p{
  border-color: transparent;
    color: #fff !important;

}

.footer-container p a{
  border-color: transparent;
    color: #f93939 !important;

}


footer .glyphicon {
    font-size: 20px;
    m/argin-bottom: 20px;
    color: #F93939;
  }



.carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
height: auto;
max-width: 100%;
line-height: 1;
width: 100%; // Add this
}










/*------------------------------------------/

.jumbotron{
  
  background-color: #f93939;
  color: #fff;
  padding: 80px 25px;
  font-family: Montserrat, sans-serif;
     
}




/*--------------------------------------------
--------------------------------------------/

.bgfill{

  background-color: #2c3e50;
  color:#fff;
  padding:70px;

    margi/n:0;
    paddin/g-top: 60px;
    paddin/g-bottom: 60px;
}



/*--------------------------------------------
--------------------------------------------/

------------------------------------------*/
